<hello name="{{ name }}"></hello>
<menu-component></menu-component>
<p>
  Sta Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500r
</p>
<h1>Olá Mundão</h1>
<!--data binding = associação de dados -->
<!-- property binding -->
<my-button [label]="buttonLabel"></my-button>
<my-button [label]="buttonsecond"></my-button>
<!-- interpolação -->
<my-button label="Notícia"></my-button>
<!-- two way data binding-->
<app-entry-data></app-entry-data>

